<body>
	<form action = "/home" method = "GET"> <!-- ATTENTION; ENSURE THE SESSION PERSISTS, HOW EVER THAT WORKS -->
		<button type = "submit">OnlyFriends</button>
	</form>
	<h2>User Profile</h2>
	<div>
		<img class = "profile-photo" src = "/static/uploads/profilePic/{{photo}}" alt = "Profile Photo"> <!-- ATTENTION -->
		<h3>{{first_name}} {{last_name}}</h3> <!-- ATTENTION -->
		<p class = "bio">
			I grew up in Baguio in 2004. I ate my socks as a child. T'was okay, I guess.
		</p>
	</div>
	<div>
		<h3>Friends</h3>
		<ul id = "friendsList"> <!-- ATTENTION -->
			<li>
				Friend 1
				<form action = "/viewProfile" method = "GET">
					<input type = "hidden" name = "userId" value = "1">
					<button type = "submit">Visit</button>
				</form>
			</li>
			<li>
				Friend 2
				<form action = "/viewProfile" method = "GET">
					<input type = "hidden" name = "userId" value = "2">
					<button type = "submit">Visit</button>
				</form>
			</li>
		</ul>
	</div>
	{{#if self}}
	<form action = "/editProfile" method = "GET"> <!-- ATTENTION; VISIBLE ONLY WHEN USER VIEWING THEIR OWN PROFILE -->
		<button type = "submit">Edit Own Profile</button>
	</form>
	{{else}}
		{{#if friends}}
		<form action = "/addFriend" method = "POST"> <!-- ATTENTION; VISIBLE ONLY WHEN USER VIEWING STRANGER -->
			<button type = "submit">Add Friend</button>
		</form>
		{{else}}
		<form action = "/unfriend" method = "POST"> <!-- ATTENTION; VISIBLE ONLY WHEN USER VIEWING FRIEND -->
			<button type = "submit">Unfriend</button>
		</form>
		{{/if}}
	{{/if}}
	{{#if self}}
	<form action = "/dashboard" method = "GET">
		<button type = "submit">Dashboard</button>
	</form>
	<form action = "/logout" method = "POST">
		<button type = "submit">Logout</button>
	</form>
	{{/if}}
</body>