<body>
	<form action = "/home" method = "GET">
		<button type = "submit">OnlyFriends</button>
	</form>
	<h2>User Profile</h2>
	<div>
		<img class = "profile-photo" src = "/static/uploads/profilePic/{{photo}}" alt = "Profile Photo">
		<h3 id="name">{{last_name}}, {{first_name}}</h3>
		<p class = "bio">
			I grew up in Baguio in 2004. I ate my socks as a child. T'was okay, I guess.
		</p>
	</div>
	<div>
		{{#if friendsList}}
		<h3>Friends</h3>
		<ul id = "friendsList">
			{{#each friendsList}}
				{{> friend first_name=first_name last_name=last_name id=id}}
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{#if auth}}
		{{#if self}}
		<button type = "submit" id="editBtn">Edit Own Profile</button>
		{{else}}
			{{#if friends}}
			<form action = "/unfriend" method = "POST">
				<input type = "number" id = "id" name = "id" value={{id}} class="hidden">
				<button type = "submit">Unfriend</button>
			</form>
			{{else}}
			<form action = "/addFriend" method = "POST">
				<input type = "number" id = "id" name = "id" value={{id}} class="hidden">
				<button type = "submit">Add Friend</button>
			</form>
			{{/if}}
		{{/if}}
		{{#if self}}
		<form action = "/dashboard" method = "GET">
			<button type = "submit">Dashboard</button>
		</form>
		<form action = "/logout" method = "POST">
			<button type = "submit">Logout</button>
		</form>
		{{/if}}
	{{else}}
	<form action = "/login" method = "GET">
		<button type = "submit">Login</button>
	</form>
	{{/if}}
</body>